/* margin y padding */
/* borde */
/* ancho */
/* fondo */
/* letra */
/* display */

* {
    margin: 0;
    padding: 0;
}

body {
/* margin y padding */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
/* ancho */
    width: 100%;
/* letra */
    font-family: "Lato", sans-serif;
}

nav {
/* margin y padding */
    margin: 0;
    padding: 8px 0px;
/* ancho */
    width: 100%;
/* fondo */
    background-color: rgb(10, 10, 35);
/* display */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav > p {
/* margin y padding */
    margin: 0;
    margin-left: 12px;
/* letra */
    font-size: 1.5rem;
    color: white;
}

nav > a {
/* margin y padding */
    margin: 0px 12px;
    padding: 2px 12px;
/* borde */
    border: 4px solid rgb(255, 173, 50);
/* fondo */
    background-color: rgb(255, 193, 69);
/* letra */
    color: rgb(10, 10, 35);
    text-decoration: none;
}

section {
/* margin y padding */
    margin: 0;
    padding: 12px 0px;
/* ancho */
    width: 100%;
/* fondo */
    background-color: rgb(0, 46, 173);
/* letra */
    font-size: 0.95rem;
    font-weight: 300;
    color: white;
/* display */
    display: flex;
    justify-content: center;
    align-items: center;
}

section > p {
/* margin y padding */
    margin: 0px 12px;
}

section > p > a {
    color: white;
}

header {
/* margin y padding */
    margin: 0;
    padding: 40px 0px;
/* ancho */
    width: 100%;
/* fondo */
    background-color: rgb(27, 27, 50);
/* letra */
    color: white;
    font-weight:lighter;
    line-height: 1.5;
/* display */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

header > img {
    /* margin y padding */
    margin: 0;
    /* borde */
    border: 4px solid rgb(87, 87, 117);
    /* ancho */
    width: 150px;
    height: 150px;
    /* fondo */
    object-fit: cover;
}

header > h1 {
/* margin y padding */
    margin: 0px 12px;
/* letra */
    text-align: center;
}

header > p {
/* margin y padding */
    margin: 0px 40px;
    max-width: 580px;
/* letra */
    text-align: center;
}

header > p > span {
    margin: 0;
    font-weight: 800;
    border-bottom: 4px solid rgb(0, 46, 173);
}

header > div {
/* margin y padding */
    margin: 0;
    padding: 10px 0px;
/* display */
    display: flex;
    gap: 16px;
}

header > div > i {
    font-size: 1.5rem;
}

main {
/* margin y padding */
    margin: 0;
    padding: 30px 0px;
/* ancho */
    width: 100%;
/* fondo */
    background-color: rgb(245, 246, 247);
/* display */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

main > details {
/* margin y padding */
    margin: 0px 12px;
    padding: 20px 0px;
/* borde */
    border: 4px solid rgb(10, 10, 35);
/* ancho */
    width: 80%;
    max-width: 700px;
/* fondo */
    background-color: rgb(208, 208, 213);
/* letra */
    font-size: 1.25rem;
    font-weight: 400;
    color: rgb(10, 10, 35);
}

main > details > summary {
    font-weight: 800;
    font-size: 1.5rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    text-align: center;
}

main > details > summary > i {
    margin: 0px 32px;
    font-size: 2rem;
}

main > details > p {
    margin: 40px 32px;
}

main > details > ul {
    margin: 16px 60px;
}

.first {
    margin: 40px 0px;
}

footer {
/* margin y padding */
    margin: 0px;
    padding: 40px 0px;
/* ancho */
    width: 100%;
/* fondo */
    background-color: rgb(208, 208, 213);
/* display */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

footer > p, span {
    margin: 0px 12px;
    max-width: 580px;
}

footer > p {
    font-style: italic;
}

footer > p > i {
    font-size: 1.2rem;
}


footer > p > a {
    font-weight: 800;
    color: black;
}

footer > span {
    font-weight: 800;
    font-size: large;
    align-self: center;
}

@media (max-width: 322px) {
    nav > p{
        margin-bottom: 12px;
    }
}

@media (max-width: 400px) {
    main > details > summary > .tohide  {
        display: none;    
    }
    main > details > summary {
        display: flex;
        justify-content: center;
        text-align: center;

    }
}

@media (min-width: 700px) {
    header > img {
        width: 300px;
        height: 300px;
    }
    nav > p {
        font-size: 2rem;
    }
    section > p {
        font-size: 1.25rem;
    } 

    header > h1 {
        font-size: 3rem;
    }
    header > p {
        font-size: 1.5rem;
    }
}
